<!DOCTYPE html>
<html>
<head>
  <title>todoList</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <script type="text/javascript" src="js/rem.js"></script>
  <link rel="stylesheet" type="text/css" href="less/main.css">
</head>
<body>
  <header>
    <div class="main">
    <span class="todolist">TODOLIST</span>
    <input type="text" class="add">
    </div>
  </header>
  <section>
    <div class="main">
      <h1>正在进行</h1><span class="num1"></span>
      <ul class="okc">
      </ul>
    </div>
  </section>
  <section>
    <div class="main">
      <h1>已完成啦</h1><span class="num2"></span>
      <ul class="gsw">
      </ul>
    </div>
  </section>
  <div class="removeAll">
  	清除全部
  </div>
  <div class="timeReverse">
  	<span class="reverse">时间倒序</span>
  </div>
</body>
</html>
<script src="js/index.js"></script>
